.card {
  place-content: center;
  width: 350px;
  margin: 50px;
  background-color: #F5F6FA;
  color: white;
  border-radius: 20px;
  //text-align: center;
  //color: white;

  //div {
  //  display: block !important;
  //}

  .card-container {
    padding: 20px;
    background: #5ea6f1;
    border-radius: 20px;
    position: sticky;
    top: 50px;
  }

  .forecast-overview {
    margin: 40px 15px;

    .forecast-details {
      img {
        width: 20px;
        margin-right: 10px;
        height: 18px;
      }
    }
  }

  .temperature-container {
    display: flex
  }

  .forecast-icon {
    width: 90px;
  }

  .card__label {
    font-size: 25px;
    font-weight: bold;

    &--large {
      font-size: 60px;
      font-weight: bold;
    }
  }

  .card__copy {
    font-size: 18px;
  }

  ::ng-deep .ng-select-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  ::ng-deep ng-dropdown-panel {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  ::ng-deep .ng-dropdown-panel-items {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  ::ng-deep .ng-value {
    margin-top: 5px;
  }

  ::ng-deep input {
    font-size: inherit;
  }

  ::ng-deep .ng-placeholder {
    font-size: inherit;
    margin-top: 5px;
  }

  ::ng-deep .ng-arrow-wrapper {
    content: url("../../assets/icons/search.svg");
    margin-top: 3px;
    margin-right: 5px;
  }
}


