.weather-app {
  font-family: 'Nunito', sans-serif;
  background-color: #F5F6FA;
  min-height: 100%;
}

.top-bar {
  padding: 30px 50px;
  font-size: 35px;
  background-color: white;
  color: #5FA6F1;
  font-weight: bold;

  &__title {
    text-shadow: 2px 0;
    letter-spacing: 2px;
  }
}

.layout-container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 1px;
}

.details-card {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  max-width: 30%;
  min-width: 400px;
  //height: 600px;
  //margin: 50px;
  //background-color: #5FA6F1;
  //border-radius: 20px;
  //color: white;
}

.week-days {
  margin-top: 100px;
  color: #5A5A5A;
  font-size: 15px;
  div {
    margin-top: 185px;
  }
}

.weather-calendar {
  place-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  margin-right: 40px;
  //display: flex;
  flex: 1 1 100%;
}

@media screen and (max-width: 960px) {
  .details-card {
    width: 100%;
    height: 60%;
    background-color: #5FA6F1;
    margin: 0;
    max-width: unset;
    align-items: unset;
  }

  .layout-container {
    display: block;
    flex-direction: unset;
    box-sizing: unset;
    flex: content;
  }

  .top-bar {
    background-color: #5ea6f1;
    color: white;
    font-size: 35px;
    padding: 30px 30px;
  }
}




