<div class="weather-app">
  <div class="top-bar">
    <span class="top-bar__title">weather</span>
  </div>

  <div class="layout-container">
    <app-details-card class="details-card"
                      [forecast]="selectedForecast"
                      (selectedCity)="fetchLongTermForecast($event)"
                      [cities]="cities"
                      [city]="defaultCity"
                      [isReady]="isReady">
    </app-details-card>

    <!--TODO move these weekDays div inside app-calendar so it would be possible to reuse it with calendar if needed-->
    <div class="week-days">
      <div *ngFor="let date of forecastDates">{{date | weekDay:'short'}}</div>
    </div>
    <div class="weather-calendar">
      <app-calendar (selectedForecast)="onItemSelect($event)"
                    [displayedForecast]="displayedForecast"
                    [forecastDates]="forecastDates"
                    [displayedHours]="displayedHours"
                    [currentDate]="currentDate"
                    [isReady]="isReady">
      </app-calendar>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
