@import "../../variables.scss";

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  border-radius:20px;
  margin: $_spacing-md;
  border: 10px solid rgba(255, 255, 255, 0.8);
  grid-gap: 2px;
  background-color: #F5F6FA;

  &--loading {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    height: 100%;
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-bottom: 5px solid white;

  &--selected {
    border-bottom: 5px solid #5FA6F1;
  }

  &--empty {
    color: #959595;
  }
}

.grid-item:hover {
    border-bottom: 5px solid #959595;
    cursor: pointer;
}

.web-header {
  display: block;
  padding: 30px;
  font-size: 15px;
  text-align: center;
  color: #5A5A5A;
  background-color: rgba(255, 255, 255, 0.8);
}

.mobile-header {
  display: none;
}

.calendar__title {
  margin: 50px 24px;
  font-weight: bold;

  text-shadow: 1px 0;
  letter-spacing: 1px;
}

// TODO mobile view should be improved before next release :)
@media screen and (max-width: 960px) {
  .grid-container {
    display: block;
    border-radius: unset;
    margin: unset;
    border: unset;
  }

  .grid-item:hover {
    cursor: pointer;
  }

  .grid-item {
    border: 5px solid #F5F6FA;
  }

  .web-header {
    display: none;
  }

  .calendar__title {
    display: none;
  }

  .arrow--down {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin-left: auto;
    z-index: 1;
  }

  .arrow--up {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    transform: rotate(225deg);
    transition: border-width 150ms ease-in-out;
    margin-left: auto;
    z-index: 1;
  }

  .mobile-header {
    display: flex;
    text-align: start;
    background-color: #F5F6FA;
    color: #5A5A5A;
    margin: 20px;
  }
}
