<h2 class="calendar__title">
  {{currentDate}}
</h2>

<div class="grid-container--loading" *ngIf="!isReady">
  <div class="lds-dual-ring"></div>
</div>

<div class="grid-container" *ngIf="isReady" style="text-align: center">


  <div class="web-header" *ngFor="let hour of displayedHours">{{hour | time}}</div>

  <ng-container *ngFor="let date of forecastDates">
    <div class="grid-item mobile-header panel-heading"
         (click)="collapse(date)">{{date | weekDay:'full'}}
      <div [ngClass]="{'arrow--up': collapsibleItems[date], 'arrow--down': !collapsibleItems[data]}"></div>
    </div>
    <ng-container *ngFor="let hour of displayedHours">
      <ng-container *ngFor="let forecast of displayedForecast[date]">
        <ng-container *ngIf="collapsibleItems[date] || !isMobile()">
          <div class="grid-item" [ngClass]="{'grid-item--selected': forecast.selected}"
               *ngIf="forecast?.time === hour"
               (click)="onItemClick(forecast)">
            <ng-container *ngIf="forecast.date">

              <app-calendar-cell [forecast]="forecast"></app-calendar-cell>

            </ng-container>
            <ng-container *ngIf="!forecast.date">
              <h3 class="grid-item--empty">N/A</h3>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
